<footer >
    <div class="footer-content d-flex align-items-center justify-content-between">
<button  class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/education']"  matTooltip="Education">
<img  src="assets/images/icons/graduation_cap.png" class="w-100"/>
</button>
<span class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/skills']" matTooltip="Skills">
<img  src="assets/images/icons/pie_chart.png"/>
</span>
<span class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/contact']" matTooltip="Contact">
<img  src="assets/images/icons/envelope.png"/>
</span >
<span class="box-circle-icon box-icons box-icons-transparent border border-1 rounded-circle " [routerLink]="['/features']">
<i class="bi bi-chevron-up h5"></i>
</span>
<span class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/home']" matTooltip="Home">
<img  src="assets/images/icons/safe.png"/>
</span>
<span class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/me']" matTooltip="Me">
<img  src="assets/images/icons/AvatarMe.png"/>
</span>
<span class="box-icons box-icons-transparent border border-1 rounded-3" [routerLink]="['/projects']" matTooltip="Projects">
<img  src="assets/images/icons/layers.png"/>
</span>
    </div>
</footer>

