<footer >
    <div class="footer-wrapper d-flex align-items-center justify-content-between ">
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
<span class="box-icons box-icons-transparent border border-1  rounded-3" >
<img  src="../../assets/images/icons/graduation_cap.png" class="w-100"/>
</span>
    </div>
</footer>

