<section>
  <div class="row g-5 justify-content-center">
    <div class="col-md-5">
      <div class="contact-text pe-md-4">
        <h1 class="mb-1">GET IN TOUCH</h1>
        <h2>GET REAL</h2>
        <p>
          Feel free to explore my profiles on Facebook, Instagram, and GitHub,
          or browse my portfolio. If you’d like to get in touch, you can reach
          me by email, phone, or on Telegram. I’d love to hear from you!
        </p>
      </div>
      <div class="contact-icons d-flex align-items-center gap-3 pt-3 ps-3 mb-4">
        <span class="box-icons">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 320 512"
              fill="none"
              stroke="black"
              stroke-width="30"
            >
              <path
                d="M279 24h-59c-66 0-108 43-108 110v46h-56c-6 0-11 5-11 11v74c0 6 5 11 11 11h56v192c0 6 5 11 11 11h82c6 0 11-5 11-11V276h73c6 0 11-5 11-11l5-74c0-6-5-11-11-11h-78v-40c0-19 9-28 29-28h49c6 0 11-5 11-11V35c0-6-5-11-11-11z"
              />
            </svg>
          </a>
        </span>
        <span class="box-icons">
          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </span>
        <span class="box-icons">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              viewBox="0 0 24 24"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12c0 4.42 2.87 8.17 6.84 9.49.5.09.66-.22.66-.47 0-.23-.01-.84-.01-1.65-2.78.61-3.37-1.34-3.37-1.34-.45-1.16-1.1-1.47-1.1-1.47-.9-.61.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.89 1.52 2.34 1.08 2.91.83.09-.64.35-1.08.63-1.33-2.22-.25-4.56-1.11-4.56-4.94 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.27.1-2.65 0 0 .84-.27 2.75 1.02A9.564 9.564 0 0 1 12 6.8c.85 0 1.7.11 2.5.33 1.9-1.29 2.75-1.02 2.75-1.02.55 1.38.2 2.4.1 2.65.64.7 1.03 1.59 1.03 2.68 0 3.84-2.34 4.69-4.57 4.94.36.31.68.92.68 1.85 0 1.34-.01 2.42-.01 2.75 0 .26.17.57.68.47A10.01 10.01 0 0 0 22 12c0-5.52-4.48-10-10-10z"
              />
            </svg>
          </a>
        </span>
        <span class="box-icons">
          <a href="#">
            <i class="bi bi-globe2"></i>
          </a>
        </span>
        <span class="box-icons">
          <a href="#">
            <i class="bi bi-whatsapp"></i>
          </a>
        </span>
      </div>
      <div class="contact-links">
        <div class="link-warpper d-flex gap-3 align-items-center mb-3">
          <span class="box-icons">
            <a href="#">
              <i class="bi bi-envelope"></i>
            </a>
          </span>
          <p class="mb-0">
            <a href="assma.baziz@yahoo.com" class="text-black text-decoration-none"> assma.baziz&#64;yahoo.com </a>
          </p>
        </div>
        <div class="link-warpper d-flex gap-3 align-items-center mb-3">
          <span class="box-icons">
            <a href="#">
              <i class="bi bi-telephone"></i>
            </a>
          </span>
          <p class="mb-0">+79779197013</p>
        </div>
        <div class="link-warpper d-flex gap-3 align-items-center mb-2">
          <span class="box-icons">
            <a href="https://t.me/yourusername" target="_blank" rel="noopener">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="black"
                viewBox="0 0 24 24"
              >
                <path
                  d="M9.999 16.2 9.7 20.3c.5 0 .7-.2 1-.5l2.4-2.3 4.9 3.6c.9.5 1.5.2 1.7-.8l3-14.3c.3-1.2-.4-1.7-1.2-1.5L2.9 9c-1.2.3-1.2 1-.2 1.3l4.7 1.5 10.9-6.9c.5-.3.9 0 .5.3L9.999 16.2z"
                />
              </svg>
            </a>
          </span>
          <p class="mb-0">&#64;Assma115</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="contact-form">
            <mat-form-field class="w-100">
              <mat-label>YOUR NAME</mat-label>
              <input matInput class="custom-input-bg" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>SUBJECT</mat-label>
              <input matInput class="custom-input-bg" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>YOUR EMAIL</mat-label>
              <input matInput class="custom-input-bg" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>YOUR MESSAGE</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
            <button class="bnt-send py-2 px-4">Send</button>
        </div>
    </div>
  </div>
</section>
