@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.box-icons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 1.8rem;
  background-color: $white-color;
  transition: $main-transition;
  a {
    text-decoration: none;
    color: $black-color;
  }
}

.box-icons-colored {
   &:hover {
    @include animate-box;
    background-color: $main-color;
    svg {
      stroke: $white-color;
      fill:$white-color; 
    }
    a {
      color: $white-color;
    }
  }
}

.box-icons-transparent {
   &:hover {
    @include animate-box;
  }
}





