@import "../../assets/sass/main.scss";
section {
    .home-text {
        border: 2px dashed rgb(207, 206, 206);
        .home-wrapper {
            .home-text-header {
                h1, h2 {
                    font-size: 2rem;
                    font-weight: normal;
                    span {
                        color: $main-color
                    }
                }
            }
        }
    }
    .home-image {
        img {
            max-width: 85%;
            border-radius: 20%;
        }
    }
}

